{{ define "main" }}
<main class="services">

  <!-- services  Jumbotron Section -->
  <section id="inner-jumbotron-section">
    <div class="site-container-1400">
      <div class="row">
        <div class="col-12 ">
          <h1 class="h1-heading">Join our team.</h1>
        </div>
      </div>
    </div>
  </section>

  <!-- Index main content -->
  <div class="superlight-bg py-5">
    <!-- Web Development -->
    <section class="service-section">
    <div class="site-container-1400 services-bg">
      <div class="row">

        <div class="col-12">
          <h2>Our Team</h2>
        </div>

        <div class="col-12">
          <p>GROW is a team of thinkers and doers that bring together design, technology, and communications. We help brands identify opportunities and develop platforms that enable them to facilitate business, express themselves, and connect with their audiences.</p>
        </div>


        <!-- Toby Briggs -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/toby-briggs" class="team-member-image">
            <div class="toby-bg">
              <div class="team-member-screen-overlay">
                <h3>Toby Briggs</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Scott Roberts -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/scott-roberts" class="team-member-image">
            <div class="scott-bg">
              <div class="team-member-screen-overlay">
                <h3>Scott Roberts</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Natalie Santana -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/natalie-santana" class="team-member-image">
            <div class="natalie-bg">
              <div class="team-member-screen-overlay">
                <h3>Natalie Santana</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Michelle Ryan -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/michelle-ryan" class="team-member-image">
            <div class="michelle-bg">
              <div class="team-member-screen-overlay">
                <h3>Michelle Ryan</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Heather Briggs -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/heather-briggs" class="team-member-image">
            <div class="heather-bg">
              <div class="team-member-screen-overlay">
                <h3>Heather Briggs</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Raj Kallem -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/raj-kallem" class="team-member-image">
            <div class="raj-bg">
              <div class="team-member-screen-overlay">
                <h3>Raj Kallem</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Jill Briggs -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/jill-briggs" class="team-member-image">
            <div class="jill-bg">
              <div class="team-member-screen-overlay">
                <h3>Jill Briggs</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Marcelo Gachet -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/marcelo-gachet" class="team-member-image">
            <div class="marcelo-bg">
              <div class="team-member-screen-overlay">
                <h3>Marcelo Gachet</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Melissa Zimmerman -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/melissa-zimmerman" class="team-member-image">
            <div class="melissa-bg">
              <div class="team-member-screen-overlay">
                <h3>Melissa Zimmerman</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Marc Riegel -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/marc-riegel" class="team-member-image">
            <div class="marc-bg">
              <div class="team-member-screen-overlay">
                <h3>Marc Riegel</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Todd Fisher -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/todd-fisher" class="team-member-image">
            <div class="todd-bg">
              <div class="team-member-screen-overlay">
                <h3>Todd Fisher</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Jason Sutter -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/jason-sutter" class="team-member-image">
            <div class="jason-bg">
              <div class="team-member-screen-overlay">
                <h3>Jason Sutter</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Josh Nash -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/josh-nash" class="team-member-image">
            <div class="josh-bg">
              <div class="team-member-screen-overlay">
                <h3>Josh Nash</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Alan Wong -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/alan-wong" class="team-member-image">
            <div class="alan-bg">
              <div class="team-member-screen-overlay">
                <h3>Alan Wong</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Mai Lee -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/mai-lee" class="team-member-image">
            <div class="mai-bg">
              <div class="team-member-screen-overlay">
                <h3>Mai Lee</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Samantha Stoddard -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/samantha-stoddard" class="team-member-image">
            <div class="samantha-bg">
              <div class="team-member-screen-overlay">
                <h3>Samantha Stoddard</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Stephanie Jordin -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/stephanie-jordin" class="team-member-image">
            <div class="stephanie-bg">
              <div class="team-member-screen-overlay">
                <h3>Stephanie Jordin</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Anil Suri -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/anil-suri" class="team-member-image">
            <div class="anil-bg">
              <div class="team-member-screen-overlay">
                <h3>Anil Suri</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Katrina Rodriguez -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/katrina-rodriguezs" class="team-member-image">
            <div class="katrina-bg">
              <div class="team-member-screen-overlay">
                <h3>Katrina Rodriguez</h3>
              </div>
            </div>
          </a>
        </div>

        <!-- Jeff Groves -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/jeff-groves" class="team-member-image">
            <div class="jeff-bg">
              <div class="team-member-screen-overlay">
                <h3>Jeff Groves</h3>
              </div>
            </div>
          </a>
        </div>


        <!-- Gus -->
        <div class="col-12 col-md-6 col-lg-3 team-member-pos">
          <a href="/company/gus" class="team-member-image">
            <div class="gus-bg">
              <div class="team-member-screen-overlay">
                <h3>Gus</h3>
              </div>
            </div>
          </a>
        </div>





      </div>
    </div>
    </section>

  </div>


  <!-- CTA Section -->
  <section id="cta-section">
    <div class="site-container-1400">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 cta-jobs-div">
          <div class="p-3">
            <p>Interest in working with team at GROW?</p>
            <p class="h2-heading mb-0">Explore jobs</p>
            <div class="py-1">
              <a href="#">
                <i class="fas fa-arrow-right"></i>
                <p class="sr-only">Link to explore jobs</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 cta-form-div">
          <div class="p-3">
            <p>Reach out</p>
            <p class="h2-heading">Let's build together.</p>
            <form name="cta-contact-form" method="POST" data-netlify="true">
              <div class="row">
                  <div class="col-12 col-lg-6">
                    <p>
                      <label class="sr-only" for="name">Your Name:</label>
                      <input type="text" name="name" class="footer-form-input" placeholder="Name *" required/>
                    </p>
                  </div>

                  <div class="col-12 col-lg-6">
                    <p>
                      <label class="sr-only" for="company">Company:</label>
                      <input type="text" name="company"  class="footer-form-input"  placeholder="Company"/>
                    </p>
                  </div>

                  <div class="col-12 col-lg-6">
                    <p>
                      <label class="sr-only" for="email">Email:</label>
                      <input type="text" name="email"  class="footer-form-input"  placeholder="Email" required/>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <label class="sr-only" for="message">How can we help:</label>
                      <textarea type="textarea" name="message" rows="1"  class="footer-form-input"  placeholder="How can we help?"></textarea>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <button type="submit" class="btn-info">Send</button>
                    </p>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
