{{ define "main" }}
<main class="services">

  <!-- services  Jumbotron Section -->
  <section id="services-jumbotron-section">
    <div class="site-container-1400">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 col-md-6 ">
          <h1 class="h1-heading">Our Services</h1>
          <p class="h4-heading">We build custom applications that help you work smarter and grow.</p>
          <div class="py-3">
            <a href="#" class="btn-primary btn-size-lg">Lets Talk</a>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <img src="../images/desktop/home/GROW-home-marquee.png" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>

  <!-- Index main content -->
  <div class="superlight-bg py-5">
    gwfr

    <!-- <section>
        <div class="site-container-1400 services-bg">
          <div class="row">

            <div class="col-12">
              <h2>Web App Development</h2>
            </div>

            <div class="col-12 col-md-4">
              <img src="https://picsum.photos/id/350/350/350" alt="">
            </div>

            <div class="col-12 col-md-8">
              <ul class="ul-reset list-item-style two-column">
                <li>Systems Architecure & Integrations</li>
                <li>Front-end Development</li>
                <li>Angular</li>
                <li>Mobile Backend Engineering</li>
                <li>Saleforce Development</li>
                <li>Accessibility</li>
                <li>Accessibility</li>
                <li>Security & Compliance</li>
                <li>Technical SEO Requirements</li>
              </ul>

              <div class="py-5">
                <a href="/services/web-app-development" class="text-icon-cta">Learn About Web App Development <i class="fas fa-arrow-right"></i></a>
              </div>
            </div>




          </div>
        </div>

        <div class="site-container-1400 services-bg pt-3">
          <div class="row">

            <div class="col-12">
              <h2>Mobile App Development</h2>
            </div>

            <div class="col-12 col-md-4">
              <img src="https://picsum.photos/id/452/350/350" alt="">
            </div>

            <div class="col-12 col-md-8">
              <ul class="ul-reset list-item-style two-column">
                <li>Systems Architecure & Integrations</li>
                <li>Front-end Development</li>
                <li>Angular</li>
                <li>Mobile Backend Engineering</li>
                <li>Saleforce Development</li>
                <li>Accessibility</li>
                <li>Accessibility</li>
                <li>Security & Compliance</li>
                <li>Technical SEO Requirements</li>
              </ul>
            </div>


          </div>
        </div>

        <div class="site-container-1400 services-bg">
          <div class="row">

            <div class="col-12">
              <h2>Web Development</h2>
            </div>

            <div class="col-12 col-md-4">
              <img src="https://picsum.photos/id/218/350/350" alt="">
            </div>

            <div class="col-12 col-md-8">
              <ul class="ul-reset list-item-style two-column">
                <li>Systems Architecure & Integrations</li>
                <li>Front-end Development</li>
                <li>Angular</li>
                <li>Mobile Backend Engineering</li>
                <li>Saleforce Development</li>
                <li>Accessibility</li>
                <li>Accessibility</li>
                <li>Security & Compliance</li>
                <li>Technical SEO Requirements</li>
              </ul>
            </div>


          </div>
        </div>

        <div class="site-container-1400 services-bg">
          <div class="row">

            <div class="col-12">
              <h2>Product Design</h2>
            </div>

            <div class="col-12 col-md-4">
              <img src="https://picsum.photos/id/654/350/350" alt="">
            </div>

            <div class="col-12 col-md-8">
              <ul class="ul-reset list-item-style two-column">
                <li>Systems Architecure & Integrations</li>
                <li>Front-end Development</li>
                <li>Angular</li>
                <li>Mobile Backend Engineering</li>
                <li>Saleforce Development</li>
                <li>Accessibility</li>
                <li>Accessibility</li>
                <li>Security & Compliance</li>
                <li>Technical SEO Requirements</li>
              </ul>
            </div>


          </div>
        </div>

        <div class="site-container-1400 services-bg">
          <div class="row">

            <div class="col-12">
              <h2>Systems Integrations</h2>
            </div>

            <div class="col-12 col-md-4">
              <img src="https://picsum.photos/id/187/350/350" alt="">
            </div>

            <div class="col-12 col-md-8">
              <ul class="ul-reset list-item-style two-column">
                <li>Systems Architecure & Integrations</li>
                <li>Front-end Development</li>
                <li>Angular</li>
                <li>Mobile Backend Engineering</li>
                <li>Saleforce Development</li>
                <li>Accessibility</li>
                <li>Accessibility</li>
                <li>Security & Compliance</li>
                <li>Technical SEO Requirements</li>
              </ul>
            </div>


          </div>
        </div>

        <div class="site-container-1400 services-bg">
          <div class="row">

            <div class="col-12">
              <h2>Growth Marketing</h2>
            </div>

            <div class="col-12 col-md-4">
              <img src="https://picsum.photos/id/650/350/350" alt="">
            </div>

            <div class="col-12 col-md-8">
              <ul class="ul-reset list-item-style two-column">
                <li>Systems Architecure & Integrations</li>
                <li>Front-end Development</li>
                <li>Angular</li>
                <li>Mobile Backend Engineering</li>
                <li>Saleforce Development</li>
                <li>Accessibility</li>
                <li>Accessibility</li>
                <li>Security & Compliance</li>
                <li>Technical SEO Requirements</li>
              </ul>
            </div>


          </div>
        </div>

    </section> -->

  </div>




  <!-- CTA Section -->
  <section id="cta-section">
    <div class="site-container-1400">
      <div class="row align-items-center">
        <div class="col-12 col-lg-6 cta-jobs-div">
          <div class="p-3">
            <p>Interest in working with team at GROW?</p>
            <p class="h2-heading mb-0">Explore jobs</p>
            <div class="py-1">
              <a href="#">
                <i class="fas fa-arrow-right"></i>
                <p class="sr-only">Link to explore jobs</p>
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 cta-form-div">
          <div class="p-3">
            <p>Reach out</p>
            <p class="h2-heading">Let's build together.</p>
            <form name="cta-contact-form" method="POST" data-netlify="true">
              <div class="row">
                  <div class="col-12 col-lg-6">
                    <p>
                      <label class="sr-only" for="name">Your Name:</label>
                      <input type="text" name="name" class="footer-form-input" placeholder="Name *" required/>
                    </p>
                  </div>

                  <div class="col-12 col-lg-6">
                    <p>
                      <label class="sr-only" for="company">Company:</label>
                      <input type="text" name="company"  class="footer-form-input"  placeholder="Company"/>
                    </p>
                  </div>

                  <div class="col-12 col-lg-6">
                    <p>
                      <label class="sr-only" for="email">Email:</label>
                      <input type="text" name="email"  class="footer-form-input"  placeholder="Email" required/>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <label class="sr-only" for="message">How can we help:</label>
                      <input type="text" name="message"  class="footer-form-input"  placeholder="How can we help?"/>
                    </p>
                  </div>

                  <div class="col-12">
                    <p>
                      <button type="submit" class="btn-info">Send</button>
                    </p>
                  </div>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
