/*SITE HELPERS*/
$primary: #01A0C6; //Grow Blue
$white: #FFFFFF; //White
$superLight: #F8F8F8; //super light grey
$light: #E6E6E6; // light grey
$light-blue: #EDF9FD; //light blue
$darkgrey: #383838; //mid grey
$black: #151515; //black

$font-size: 14px;
$line-height: 24px;
$font-weight: 400;
$mid-font-weight: 600;
$heavy-font-weight: 700;
$superHeavy-font-weight: 800;

$btn-padding-size: 30px;
$transition-speed: 0.5s;
$gutter-size: 15px;
$logo-size: 250px;
$font-family: 'Mulish', sans-serif !important;


//////////////////////////////////////////////////////////////
//                                                          ||
//                   HTML/Body/Containers                   ||
//                                                          ||
//////////////////////////////////////////////////////////////
html, body {
    font-size: $font-size;
    font-family: $font-family;
    margin: 0;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $black;
    text-align: left;
    height: 100%;
}

#main-container {
    position: relative;
    min-height: 100vh;

    main {
        // padding-bottom: 250px;
    }
}


.site-container-1400 {
  padding-left: $gutter-size;
  padding-right: $gutter-size;
  margin: 0 auto;
  position: relative;
  max-width: 1400px;
  width: 100%;
}

.site-container-992 {
  padding-left: $gutter-size;
  padding-right: $gutter-size;
  margin: 0 auto;
  position: relative;
  max-width: 992px;
  width: 100%;
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                  HTML Utilities Class                    ||
//                                                          ||
//////////////////////////////////////////////////////////////
.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.two-column {
  @media (min-width: 1200px) {
    column-count: 2;
  }
}

.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparentize($black, .2);
}

.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                       Colors                             ||
//                                                          ||
//////////////////////////////////////////////////////////////
.primary-text {
  color: $primary !important;
}

.white-text {
  color: $white !important;
}

.superlight-text {
  color: $superLight !important;
}

.light-text {
  color: $light !important;
}

.lightblue-text {
  color: $light-blue !important;
}

.darkgrey-text {
  color: $darkgrey !important;
}

.black-text {
  color: $black !important;
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                  Background Colors                       ||
//                                                          ||
//////////////////////////////////////////////////////////////
.primary-bg {
  background-color: $primary !important;
}

.white-bg {
  background-color: $white !important;
}

.superlight-bg {
  background-color: $superLight !important;
}

.light-bg {
  background-color: $light !important;
}

.lightblue-bg {
  background-color: $light-blue !important;
}

.darkgrey-bg {
  background-color: $darkgrey !important;
}

.black-bg {
  background-color: $black !important;
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                     Link Colors                          ||
//                                                          ||
//////////////////////////////////////////////////////////////
.primary-link {
  color: $primary !important;
  text-decoration: none;
  font-weight: $heavy-font-weight !important;
  text-transform: uppercase;

  &:active,
  &:hover {
    color: $black !important;
  }
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                       Buttons                            ||
//                                                          ||
//////////////////////////////////////////////////////////////
.btn-primary {
  background-color: $primary !important;
  padding: 15px 30px;
  color: $white !important;
  border: 1px solid $primary !important;
  text-decoration: none !important;
  font-weight: $superHeavy-font-weight;
  font-size: calc(#{$font-size} * 1.142) !important;


  &:focus,
  &:active,
  &:hover {
    background-color: transparent !important;
    border: 1px solid $black !important;
    color: $black !important;
    box-shadow: unset !important;
  }
}

.btn-primary-long {
  width: 100%;
}

.btn-secondary {
  background-color: transparent !important;
  padding: 10px;
  color: $black !important;
  border: 1px solid $black !important;
  text-decoration: none !important;
  font-weight: $superHeavy-font-weight;
  font-size: calc(#{$font-size} * 1.142) !important;

  &:focus,
  &:active,
  &:hover {
    background-color: $black !important;
    color: $white !important;
    box-shadow: unset !important;
  }
}


.btn-info {
  background-color: transparent !important;
  padding: 15px 30px;
  color: $white !important;
  border: 1px solid $white !important;
  text-decoration: none !important;
  font-weight: $superHeavy-font-weight;
  font-size: calc(#{$font-size} * 1.142) !important;

  &:focus,
  &:active,
  &:hover {
    background-color: $white !important;
    color: $black !important;
    box-shadow: unset !important;
  }
}
//////////////////////////////////////////////////////////////
//                                                          ||
//                     Header Styles                        ||
//                                                          ||
//////////////////////////////////////////////////////////////
.h1-heading,
h1 {
  font-size: calc(#{$font-size} * 3.285) !important;
  font-weight: $heavy-font-weight !important;
  line-height: calc(#{$line-height} * 2.208) !important;
  font-family: $font-family;
}

.h2-heading,
h2 {
  font-size: calc(#{$font-size} * 2.428) !important;
  font-weight: $heavy-font-weight !important;
  line-height: calc(#{$line-height} * 1.833) !important;
  font-family: $font-family;
}

.SubHead,
.h3-heading,
h3 {
  font-size: calc(#{$font-size} * 2) !important;
  font-weight: $heavy-font-weight !important;
  line-height: calc(#{$line-height} * 1.583) !important;
  font-family: $font-family;
}

.h4-heading,
h4 {
  font-size: calc(#{$font-size} * 1.571) !important;
  font-weight: $heavy-font-weight !important;
  line-height: calc(#{$line-height} * 1.25) !important;
  font-family: $font-family;
}

.h5-heading,
h5 {
  font-size: calc(#{$font-size} * 1.285) !important;
  font-weight: $font-weight !important;
  line-height: calc(#{$line-height} * 1.166) !important;
  font-family: $font-family;
}

.h5-heading-link {
  text-decoration: none !important;

  p{
    font-size: calc(#{$font-size} * 1.285) !important;
    font-weight: $superHeavy-font-weight !important;
    line-height: calc(#{$line-height} * 1.166) !important;
    font-family: $font-family;

    color: $primary;
  }
}

.h6-heading,
h6 {
  font-size: $font-size !important;
  font-weight: $heavy-font-weight !important;
  line-height: calc(#{$line-height} * 0.75) !important;
  font-family: $font-family;
}

p {
  font-size: $font-size !important;
  font-weight: $font-weight !important;
  line-height: $line-height !important;
  font-family: $font-family;
}

.link-style {
  font-size: $font-size !important;
  font-weight: $superHeavy-font-weight !important;
  line-height: $line-height !important;
  font-family: $font-family;
  text-decoration: underline;
  color: $primary !important;

  &:hover,
  &:active {
    color: $black !important;
  }
}

.list-item-style li {
  font-size: calc(#{$font-size} * 1.285) !important;
  font-weight: $font-weight !important;
  line-height: calc(#{$line-height} * 1.166) !important;
  font-family: $font-family;
  padding: 10px 0;
}

.list-item-style li:first-child {
  padding-top: 0;
}


.text-icon-cta {
  font-size: $font-size !important;
  font-weight: $superHeavy-font-weight !important;
  line-height: $line-height !important;
  font-family: $font-family;
  color: $black !important;
  text-decoration: none !important;

  &:hover,
  &:active {
    color: $primary !important;
  }
}

@media (min-width: 992px) {
}
//////////////////////////////////////////////////////////////
//                                                          ||
//                     Main Navigation                      ||
//                                                          ||
//////////////////////////////////////////////////////////////

.navbar {
  padding: 0 25px;
  background-color: $white;
  @media (min-width: 1200px) {
    padding: 0 50px;
    height: 80px;
  }
}

.nav-menu-item {
    padding: 0 15px;

    .nav-item-link {
      color: $black !important;
      font-size: calc(#{$font-size} * 1.142) !important;
      font-weight: $heavy-font-weight !important;
      line-height: calc(#{$line-height} * 0.833) !important;
      font-family: $font-family;

      &:hover,
      &:active {
        border-bottom: 2px solid $primary;
      }
    }
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                  Mobile Navigation                       ||
//                                                          ||
//////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////
//                                                          ||
//                  CTA  +   Footer                         ||
//                                                          ||
//////////////////////////////////////////////////////////////
#cta-section {
  .cta-jobs-div {
      background-color: $darkgrey;
  }

  .cta-form-div {
    background-color: $primary;
  }

  @media (min-width: 992px) {
    .cta-jobs-div,
    .cta-form-div  {
        background-color: unset;
    }

    background: rgb(60,60,60);
    background: linear-gradient(90deg, rgba(60,60,60,1) 0%, rgba(60,60,60,1) 49.99%, rgba(1,160,198,1) 50%, rgba(1,160,198,1) 100%);
    height: 400px;
  }
  color: $white;
  text-decoration: none;
  display: flex;
  align-items: center;

  a {
    color: $white !important;
    font-size: calc(#{$font-size} * 1.428);

    &:active,
    &:hover {
      color: $primary !important;
    }
  }


    .footer-form-input{
      background: none;
      border: 0 !important;
      border-radius: 0 !important;
      box-shadow: none !important;
      border-bottom: 1px solid $white !important;
      width: 100%;

      color: $white;

      &::placeholder {
        color: $white;
        font-weight:  $heavy-font-weight;
      }
    }
}

footer {
  background-color: $black;
  padding: 25px 0;
  @media (min-width: 1200px) {
    padding: 50px 50px 15px;
    height: 250px;

    .container-fluid {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;
      justify-content: space-between;
    }
  }
  color: $white;

  a {
    color: $primary !important;

    &:active,
    &:hover {
      color: $white !important;
    }
  }

  .social-nav-item {
    padding: 0 15px;

    .social-icon {
      color: $white !important;
      font-size: 1.428rem;

      &:active,
      &:hover {
        color: $primary !important;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    @media (min-width: 992px) {
      &:first-child {
        padding-left: unset;
      }

      &:last-child {
        padding-right: 0;
      }
    }


  }

  .footer-policy-link {
    color: $white !important;
    text-decoration: none;

    &:active,
    &:hover {
      color: $primary !important;
    }
  }



}

//////////////////////////////////////////////////////////////
//                                                          ||
//                      Home Page                           ||
//                                                          ||
//////////////////////////////////////////////////////////////

#index-jumbotron-section {
  margin-top: 56px;
  padding: 25px 0;

  @media (min-width: 992px) {
       padding: 50px 0;
   }
}

#our-portfolio-section {
  padding: 25px 0;

  @media (min-width: 992px) {
       padding: 50px 0;
   }
}

#testimonial-section {
  .testimonial-bg {
    padding: 35px 25px;
    background-image: url("/images/desktop/home/GROW-myDCAS-CaseStudy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#cdss-section {
  padding: 25px 0;

  @media (min-width: 992px) {
       padding: 50px 0;
   }

  .cdss-tiles-bg{
    border: 1px solid $light;
    background-color: $white;
    padding: 35px 25px;
  }


  .cdss-tags {
    background-color: $superLight;
    padding: 5px;
    font-size: $font-size !important;
    font-weight: $heavy-font-weight !important;
    line-height: calc(#{$line-height} * 0.625) !important;
    font-family: $font-family;

  }
}

#our-services-section {
  padding: 25px 0;

  @media (min-width: 992px) {
       padding: 50px 0;
   }

  .core-service {
    @media (min-width: 992px) {
         padding: 15px;
     }
  }

  .card-title {
    color: $primary;
  }
}

#company-section {
  padding: 25px 0;

  @media (min-width: 992px) {
       padding: 50px 0;
   }

  .index-company-bg {
    background-color: $white;
    background-image: url("/images/desktop/home/GROW-graphic.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px;
  }

  .quote {
    color: $primary;
    font-size: 12px;
  }

  .company-author-quote::before {
    content: ' ';
    color: $primary;
    margin: 0 15px 0 0;
    border: 2px solid;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

//////////////////////////////////////////////////////////////
//                                                          ||
//                 Services  Page                           ||
//                                                          ||
//////////////////////////////////////////////////////////////


#services-jumbotron-section {
  margin-top: 56px;
  padding: 25px 0;

  @media (min-width: 992px) {
       padding: 50px 0;
   }
}

.services-bg {
  background-color: $white;
  border: 1px solid $light;
  padding: 50px 25px !important;
  margin-bottom: 50px;
}

.services-bg:last-child {
    margin-bottom: 0;
 }


 //////////////////////////////////////////////////////////////
 //                                                          ||
 //                    Inner  Page                           ||
 //                                                          ||
 //////////////////////////////////////////////////////////////

#inner-jumbotron-section {
  margin-top: 56px;
  padding: 25px 0;

  @media (min-width: 992px) {
    height: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
   }
}

.contact-form-input {
  background: none;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border-bottom: 1px solid $black !important;
  width: 100%;
  margin: 10px 0;

  color: $black;

  &::placeholder {
    color: $black;
    font-weight:  $heavy-font-weight;
  }
}
