/*SITE HELPERS*/
html, body {
  font-size: 14px;
  font-family: "Mulish", sans-serif !important;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  color: #151515;
  text-align: left;
  height: 100%; }

.site-container-1400 {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  max-width: 1400px;
  width: 100%; }

.ul-reset {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.section-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(21, 21, 21, 0.8); }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.primary-text {
  color: #01A0C6 !important; }

.white-text {
  color: #FFFFFF !important; }

.superlight-text {
  color: #F8F8F8 !important; }

.light-text {
  color: #E6E6E6 !important; }

.lightblue-text {
  color: #EDF9FD !important; }

.darkgrey-text {
  color: #383838 !important; }

.black-text {
  color: #151515 !important; }

.primary-bg {
  background-color: #01A0C6 !important; }

.white-bg {
  background-color: #FFFFFF !important; }

.superlight-bg {
  background-color: #F8F8F8 !important; }

.light-bg {
  background-color: #E6E6E6 !important; }

.lightblue-bg {
  background-color: #EDF9FD !important; }

.darkgrey-bg {
  background-color: #383838 !important; }

.black-bg {
  background-color: #151515 !important; }

.primary-link {
  color: #01A0C6 !important;
  text-decoration: none;
  font-weight: 700 !important;
  text-transform: uppercase; }
  .primary-link:active, .primary-link:hover {
    color: #151515 !important; }

.btn-primary {
  background-color: #01A0C6 !important;
  padding: 15px 30px;
  color: #FFFFFF;
  border: 1px solid #01A0C6 !important;
  text-decoration: none !important;
  font-weight: 800;
  font-size: calc(14px * 1.142) !important; }
  .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: transparent !important;
    border: 1px solid #151515 !important;
    color: #151515;
    box-shadow: unset !important; }

.btn-primary-long {
  width: 100%; }

.btn-secondary {
  background-color: transparent !important;
  padding: 10px;
  color: #151515;
  border: 1px solid #151515 !important;
  text-decoration: none !important;
  font-weight: 800;
  font-size: calc(14px * 1.142) !important; }
  .btn-secondary:focus, .btn-secondary:active, .btn-secondary:hover {
    background-color: #151515 !important;
    color: #FFFFFF;
    box-shadow: unset !important; }

.btn-info {
  background-color: transparent !important;
  padding: 15px 30px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF !important;
  text-decoration: none !important;
  font-weight: 800;
  font-size: calc(14px * 1.142) !important; }
  .btn-info:focus, .btn-info:active, .btn-info:hover {
    background-color: #FFFFFF !important;
    color: #151515;
    box-shadow: unset !important; }

.h1-heading,
h1 {
  font-size: calc(14px * 3.285) !important;
  font-weight: 700 !important;
  line-height: calc(24px * 2.208) !important;
  font-family: "Mulish", sans-serif !important; }

.h2-heading,
h2 {
  font-size: calc(14px * 2.428) !important;
  font-weight: 700 !important;
  line-height: calc(24px * 1.833) !important;
  font-family: "Mulish", sans-serif !important; }

.SubHead,
.h3-heading,
h3 {
  font-size: calc(14px * 2) !important;
  font-weight: 700 !important;
  line-height: calc(24px * 1.583) !important;
  font-family: "Mulish", sans-serif !important; }

.h4-heading,
h4 {
  font-size: calc(14px * 1.571) !important;
  font-weight: 700 !important;
  line-height: calc(24px * 1.25) !important;
  font-family: "Mulish", sans-serif !important; }

.h5-heading,
h5 {
  font-size: calc(14px * 1.285) !important;
  font-weight: 400 !important;
  line-height: calc(24px * 1.166) !important;
  font-family: "Mulish", sans-serif !important; }

.h5-heading-link {
  text-decoration: none !important; }
  .h5-heading-link p {
    font-size: calc(14px * 1.285) !important;
    font-weight: 800 !important;
    line-height: calc(24px * 1.166) !important;
    font-family: "Mulish", sans-serif !important;
    color: #01A0C6; }

.h6-heading,
h6 {
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: calc(24px * 0.75) !important;
  font-family: "Mulish", sans-serif !important; }

p {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 24px !important;
  font-family: "Mulish", sans-serif !important; }

.link-style {
  font-size: 14px !important;
  font-weight: 800 !important;
  line-height: 24px !important;
  font-family: "Mulish", sans-serif !important;
  text-decoration: underline;
  color: #01A0C6 !important; }
  .link-style:hover, .link-style:active {
    color: #151515 !important; }

.list-item-style {
  font-size: calc(14px * 1.285) !important;
  font-weight: 400 !important;
  line-height: calc(24px * 1.166) !important;
  font-family: "Mulish", sans-serif !important;
  padding: 10px;
  margin: 20px; }

.text-icon-cta {
  font-size: 14px !important;
  font-weight: 800 !important;
  line-height: 24px !important;
  font-family: "Mulish", sans-serif !important;
  color: #151515 !important;
  text-decoration: none !important; }
  .text-icon-cta:hover, .text-icon-cta:active {
    color: #01A0C6 !important; }

.navbar {
  padding: 0 25px;
  background-color: #FFFFFF; }
  @media (min-width: 1200px) {
    .navbar {
      padding: 0 50px;
      height: 80px; } }

.nav-menu-item {
  padding: 0 15px; }
  .nav-menu-item .nav-item-link {
    color: #151515 !important;
    font-size: calc(14px * 1.142) !important;
    font-weight: 700 !important;
    line-height: calc(24px * 0.833) !important;
    font-family: "Mulish", sans-serif !important; }
    .nav-menu-item .nav-item-link:hover, .nav-menu-item .nav-item-link:active {
      border-bottom: 2px solid #01A0C6; }

#cta-section {
  background: #3c3c3c;
  background: linear-gradient(90deg, #3c3c3c 0%, #3c3c3c 49.99%, #01a0c6 50%, #01a0c6 100%);
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 400px; }
  #cta-section a {
    color: #FFFFFF !important; }
    #cta-section a:active, #cta-section a:hover {
      color: #01A0C6 !important; }
  #cta-section .footer-form-input {
    background: none;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    border-bottom: 1px solid #FFFFFF !important;
    width: 100%;
    color: #FFFFFF; }
    #cta-section .footer-form-input::placeholder {
      color: #FFFFFF;
      font-weight: 700; }

footer {
  background-color: #151515;
  padding: 25px 0;
  color: #FFFFFF; }
  @media (min-width: 1200px) {
    footer {
      padding: 50px 50px 15px;
      height: 250px; }
      footer .container-fluid {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 100%;
        justify-content: space-between; } }
  footer a {
    color: #01A0C6 !important; }
    footer a:active, footer a:hover {
      color: #FFFFFF !important; }
  footer .social-nav-item {
    padding: 0 15px; }
    footer .social-nav-item .social-icon {
      color: #FFFFFF !important;
      font-size: 1.25rem; }
      footer .social-nav-item .social-icon:active, footer .social-nav-item .social-icon:hover {
        color: #01A0C6 !important; }
    footer .social-nav-item:last-child {
      padding-right: 0; }
  footer .footer-policy-link {
    color: #FFFFFF !important;
    text-decoration: none; }
    footer .footer-policy-link:active, footer .footer-policy-link:hover {
      color: #01A0C6 !important; }

#index-jumbotron-section {
  margin-top: 56px;
  padding: 50px 0; }

#our-portfolio-section {
  padding: 50px 0; }

#testimonial-section .testimonial-bg {
  padding: 35px 25px;
  background-image: url("/images/home/GROW-myDCAS-CaseStudy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

#cdss-section {
  padding: 50px 0; }
  #cdss-section .cdss-tiles-bg {
    border: 1px solid #E6E6E6;
    background-color: #FFFFFF;
    padding: 35px 25px; }
  #cdss-section .cdss-tags {
    background-color: #F8F8F8;
    padding: 5px;
    font-size: 14px !important;
    font-weight: 700 !important;
    line-height: calc(24px * 0.625) !important;
    font-family: "Mulish", sans-serif !important; }

#our-services-section {
  padding: 50px 0; }
  #our-services-section .core-service {
    padding: 15px; }
  #our-services-section .card-title {
    color: #01A0C6; }

#company-section {
  padding: 50px 0; }
  #company-section .index-company-bg {
    background-color: #FFFFFF;
    background-image: url("/images/home/GROW-graphic.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 500px; }
  #company-section .quote {
    color: #01A0C6;
    font-size: 12px; }
  #company-section .company-author-quote::before {
    content: ' ';
    color: #01A0C6;
    margin: 0 15px 0 0;
    border: 2px solid;
    flex-wrap: nowrap;
    flex-direction: row; }

/*# sourceMappingURL=site.css.map */
