<footer>
  <div class="container-fluid">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-auto">
        <p class="mb-1">200 Auburn Folsom Rd., Suite 300<br>
        Auburn, CA 95603</p>
        <p><a href="https://www.google.com/maps/dir//200+Auburn+Folsom+Rd+%23300,+Auburn,+CA+95603/@38.894719,-121.1472721,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x809b04d4ee025323:0x10263402e66a7dc7!2m2!1d-121.0772321!2d38.8947399" target="_blank">Directions</a></p>
      </div>
      <div class="col-12 col-lg-auto d-none d-lg-block">
        <p class="mb-1"><a href="/privacy-policy" class="footer-policy-link">Privacy Policy</a></p>
        <p class="mb-1"><a href="/terms-of-use"  class="footer-policy-link">Terms + Conditions</a></p>
        <p><a href="/accessibility-policy"  class="footer-policy-link">Accessibility Statement</a></p>
      </div>
    </div>

    <div class="row justify-content-between pt-3">
      <div class="col-12 col-lg-auto">
        <p class="mb-0">&copy; 2021 GROW Design and Development, Inc.</p>
      </div>

      <div class="col-12 col-lg-auto d-lg-none pb-3">
        <p class="mb-1">
          <a href="/privacy-policy" class="footer-policy-link pr-3">Privacy</a>
          <a href="/terms-of-use"  class="footer-policy-link pr-3">Terms</a>
          <a href="/accessibility-policy"  class="footer-policy-link">Accessibility</a>
        </p>
      </div>

      <div class="col-12 col-lg-auto">
        <ul class="ul-reset d-flex">
          <li class="social-nav-item">
            <a href="https://www.facebook.com/" target="_blank" class="social-icon"><i class="fab fa-facebook-f"></i>
            <span class="sr-only">Facebook social Link</span>
            </a>
          </li>

          <li class="social-nav-item">
            <a href="https://instagram.com/" target="_blank" class="social-icon"><i class="fab fa-instagram"></i>
            <span class="sr-only">instagram social Link</span>
            </a>
          </li>

          <li class="social-nav-item">
            <a href="http://twitter.com/" target="_blank" class="social-icon"><i class="fab fa-twitter"></i>
            <span class="sr-only">Twitter social Link</span>
            </a>
          </li>

          <li class="social-nav-item">
            <a href="http://linkedin.com/" target="_blank" class="social-icon"><i class="fab fa-linkedin-in"></i>
            <span class="sr-only">Linkedin social Link</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
