{{ $current := . }}
<div class="container-fluid main-navigation">
   <nav class="w-100 d-lg-none">
        <div class="row justify-content-between align-items-center ">
            <div class="col p-3">
                 <a href="/" class="header-logo">
                   <svg xmlns="http://www.w3.org/2000/svg" width="128.86" height="22.884" viewBox="0 0 128.86 22.884">
                     <g id="GROW-logo" transform="translate(-50 -439)">
                       <g id="Group_223" data-name="Group 223" transform="translate(79.473 441.268)">
                         <path id="Path_95" data-name="Path 95" d="M298.743,290.84v-.057a10.154,10.154,0,0,1,10.281-10.307,10.769,10.769,0,0,1,7.662,2.7l-2.222,2.648a7.806,7.806,0,0,0-5.582-2.136c-3.674,0-6.465,3.216-6.465,7.033v.058c0,4.1,2.706,7.121,6.778,7.121a8.138,8.138,0,0,0,4.814-1.51v-3.731h-5.1v-3.047H317.4v8.374a12.71,12.71,0,0,1-8.316,3.1,9.893,9.893,0,0,1-10.339-10.253" transform="translate(-298.743 -280.476)" fill="#151515"/>
                         <path id="Path_96" data-name="Path 96" d="M367.277,281.415h8.886a8.029,8.029,0,0,1,5.753,2,6.01,6.01,0,0,1,1.651,4.3v.058a5.985,5.985,0,0,1-4.755,6.037l5.381,7.547h-4.127l-4.9-6.949h-4.386v6.949h-3.5Zm8.63,9.884c2.507,0,4.1-1.31,4.1-3.332v-.056c0-2.139-1.539-3.3-4.129-3.3h-5.1V291.3Z" transform="translate(-342.643 -281.077)" fill="#151515"/>
                         <path id="Path_97" data-name="Path 97" d="M426.063,290.84v-.057a10.425,10.425,0,0,1,20.848-.058v.058a10.425,10.425,0,0,1-20.848.057m17.175,0v-.057a6.83,6.83,0,0,0-6.779-7.091,6.736,6.736,0,0,0-6.721,7.033v.058a6.828,6.828,0,0,0,6.777,7.09,6.735,6.735,0,0,0,6.723-7.032" transform="translate(-380.299 -280.476)" fill="#151515"/>
                         <path id="Path_98" data-name="Path 98" d="M492.531,281.316h3.789l4.755,14.783,4.9-14.839h2.961l4.9,14.839,4.755-14.783h3.674L515.316,301.4H512.3l-4.9-14.324L502.5,301.4h-3.02Z" transform="translate(-422.876 -280.979)" fill="#151515"/>
                       </g>
                       <path id="Path_99" data-name="Path 99" d="M216.748,296.938,229.9,274.165l13.151,22.774Z" transform="translate(-166.748 164.836)" fill="#01a0c6"/>
                     </g>
                   </svg>
                    <p class="sr-only">The Block Artisan Ice Co.</p>
                </a>
            </div>

            <div class="col-auto">
                <button class="btn-reset px-0 nav-menu-toggle-btn nav-btn-open" id="open-mobile-nav">
                    <i class="fas fa-bars"></i>
                     <span class="sr-only">open-mobile-nav</span>
                </button>

                <button class="btn-reset nav-menu-toggle-btn nav-btn-close" id="close-mobile-nav">
                    <i class="fas fa-times nav-menu-toggle-btn"></i>
                     <span class="sr-only">close-mobile-nav</span>
                </button>
            </div>

        </div>
    </nav>
</div>
<nav class="navbar navbar-expand-md fixed-top" id="navbar-main-menu">
    <div class="container-fluid d-none d-lg-flex">
        <a class="navbar-brand font-weight-bold" href="{{ .Site.BaseURL }}">
          <svg xmlns="http://www.w3.org/2000/svg" width="128.86" height="22.884" viewBox="0 0 128.86 22.884">
            <g id="GROW-logo" transform="translate(-50 -439)">
              <g id="Group_223" data-name="Group 223" transform="translate(79.473 441.268)">
                <path id="Path_95" data-name="Path 95" d="M298.743,290.84v-.057a10.154,10.154,0,0,1,10.281-10.307,10.769,10.769,0,0,1,7.662,2.7l-2.222,2.648a7.806,7.806,0,0,0-5.582-2.136c-3.674,0-6.465,3.216-6.465,7.033v.058c0,4.1,2.706,7.121,6.778,7.121a8.138,8.138,0,0,0,4.814-1.51v-3.731h-5.1v-3.047H317.4v8.374a12.71,12.71,0,0,1-8.316,3.1,9.893,9.893,0,0,1-10.339-10.253" transform="translate(-298.743 -280.476)" fill="#151515"/>
                <path id="Path_96" data-name="Path 96" d="M367.277,281.415h8.886a8.029,8.029,0,0,1,5.753,2,6.01,6.01,0,0,1,1.651,4.3v.058a5.985,5.985,0,0,1-4.755,6.037l5.381,7.547h-4.127l-4.9-6.949h-4.386v6.949h-3.5Zm8.63,9.884c2.507,0,4.1-1.31,4.1-3.332v-.056c0-2.139-1.539-3.3-4.129-3.3h-5.1V291.3Z" transform="translate(-342.643 -281.077)" fill="#151515"/>
                <path id="Path_97" data-name="Path 97" d="M426.063,290.84v-.057a10.425,10.425,0,0,1,20.848-.058v.058a10.425,10.425,0,0,1-20.848.057m17.175,0v-.057a6.83,6.83,0,0,0-6.779-7.091,6.736,6.736,0,0,0-6.721,7.033v.058a6.828,6.828,0,0,0,6.777,7.09,6.735,6.735,0,0,0,6.723-7.032" transform="translate(-380.299 -280.476)" fill="#151515"/>
                <path id="Path_98" data-name="Path 98" d="M492.531,281.316h3.789l4.755,14.783,4.9-14.839h2.961l4.9,14.839,4.755-14.783h3.674L515.316,301.4H512.3l-4.9-14.324L502.5,301.4h-3.02Z" transform="translate(-422.876 -280.979)" fill="#151515"/>
              </g>
              <path id="Path_99" data-name="Path 99" d="M216.748,296.938,229.9,274.165l13.151,22.774Z" transform="translate(-166.748 164.836)" fill="#01a0c6"/>
            </g>
          </svg>

        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="navbar-nav ml-auto">
            {{- if .Site.Params.showLanguageSwitcher -}}
                {{ partial "i18nlist.html" . }}
            {{- end -}}
            {{ with .Site.Menus.main }}
                {{ range . }}
                    <li class="nav-menu-item{{ if $current.IsMenuCurrent "main" . }} active{{ end }}"><a class="nav-item-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
                {{ end }}

                <li class="nav-menu-item"><a class="btn-secondary" href="/lets-talk">Let's talk</a></li>
            {{ end }}
            </ul>
        </div>
    </div>
</nav>

<nav>
  <div id="mobile-nav" class="mobile-nav">
    <div class="site-container-1400">
      <div class="row justify-content-end align-items-center pt-3 pb-5 px-3">
        <div class="col-auto">
          <i class="far fa-bars nav-menu-toggle-btn nav-btn-close"></i>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="mobile-nav-cta-btn py-3 px-3 pb-5">
            <a class="btn-primary d-flex justify-content-center" href="/lets-talk">Let's Talk</a>
          </div>
        </div>
        <div class="col-12 px-0 mobile-inner-menu-size">
          <ul class="ul-reset">
            <li class="mobile-nav-menu-item d-flex justify-content-between">
                <a href="/services">Services</a>
                <span class="ml-2"><i class="far fa-chevron-right d-none" aria-hidden="true"></i> </span>
            </li>
            <li class="mobile-nav-menu-item d-flex justify-content-between">
                <a href="/portfolio">Portfolio</a>
                <span class="ml-2"><i class="far fa-chevron-right d-none" aria-hidden="true"></i> </span>
            </li>
            <li class="mobile-nav-menu-item d-flex justify-content-between">
                <a href="/company">Company</a>
                <span class="ml-2"><i class="far fa-chevron-right d-none" aria-hidden="true"></i> </span>
            </li>
            <li class="mobile-nav-menu-item d-flex justify-content-between">
                <a href="/careers">Careers</a>
                <span class="ml-2"><i class="far fa-chevron-right d-none" aria-hidden="true"></i> </span>
            </li>

            <li class="mobile-nav-menu-item d-flex justify-content-between">
                <a href="/post">Blog</a>
                <span class="ml-2"><i class="far fa-chevron-right d-none" aria-hidden="true"></i> </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</nav>
