{{ define "main" }}
<main class="homepage">
    <!-- Main  Jumbotron Section -->
    <section id="index-jumbotron-section">
      <div class="site-container-1400">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-md-6 ">
            <h1 class="h1-heading">Science meet humanity.</h1>
            <p class="h4-heading">We build custom application that helps you work smart and grow.</p>
            <div class="py-3">
              <a href="#" class="btn-primary btn-size-lg">Lets Talk</a>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <img src="src/GROW-home-marquee.png" alt="" class="w-100">
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Section -->
    <section id="our-portfolio-section" class="superlight-bg" >
      <div class="site-container-1400">
        <div class="row justify-content-beween align-items-center">
          <div class="col">
            <h2 class="h2-heading">We Build with the best companies.</h2>
          </div>
          <div class="col-auto">
            <a href="/portfolio" class="text-icon-cta">See Our Work <i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
        <div class="row justify-content-beween align-items-center py-3">
          <div class="col text-center">
            <a href="https://atlaslifttech.com/" target="_blank">
              <img src="images/home/logos/GROW-Atlas-logo.png" alt="temp-logo">
            </a>
          </div>

          <div class="col text-center">
            <a href="https://www.salesforce.com/customer-success-stories/dhcf/" target="_blank">
              <img src="images/home/logos/GROW-DCAS-logo.png" alt="temp-logo">
            </a>
          </div>

          <div class="col text-center">
            <a href="https://www.mandatedreporterca.com/" target="_blank">
              <img src="images/home/logos/GROW-CDSS-logo.png" alt="temp-logo">
            </a>
          </div>

          <div class="col text-center">
            <a href="https://folsomcasharttrail.com/" target="_blank">
              <img src="images/home/logos/GROW-JohnnyCashTrail-logo.png" alt="temp-logo">
            </a>
          </div>

          <div class="col text-center">
            <a href="https://jadawindows.com/" target="_blank">
              <img src="images/home/logos/GROW-Jada-logo.png" alt="temp-logo">
            </a>
          </div>

          <div class="col text-center">
            <a href="https://railyards.com/" target="_blank">
              <img src="images/home/logos/GROW-TheRailyards-logo.png" alt="temp-logo">
            </a>
          </div>

        </div>
      </div>
    </section>

    <!-- Testimonial Section -->
    <section id="testimonial-section" class="superlight-bg" >
      <div class="site-container-1400 testimonial-bg"  >
        <div class="row">
          <div class="col-12 col-lg-6">
              <div class="">
                <img class="py-3" src="images/home/DCAS-logo.svg" alt="temp-logo">
                <p class="h6-heading">DEPARTMENT OF HELP CARE FINANCE</p>
              </div>

              <p class="h4-heading">A centralize caseworker portasl and knowlege access sytem build on Salesforce Services Cloud</p>

              <div class="">
                <a href="#" class="text-icon-cta">Read the Case Study <i class="fas fa-arrow-right"></i></a>
              </div>
          </div>

        </div>
      </div>
    </section>

    <!-- CDSS Section -->
    <section id="cdss-section" class="superlight-bg">
      <div class="site-container-1400">
        <div class="row">
          <div class="col-12 col-lg py-3 py-lg-0 px-lg-0">
            <div class="cdss-tiles-bg">
                <img src="images/home/CDSS-icon.svg" alt="temp-logo">
                <p class="h6-heading py-3">Child Abuse Mandated Reporter Training</p>
                <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet! </p>

                <div class="row">
                  <div class="col-auto">
                     <p class="cdss-tags">Learning Management System</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">Role Based UX</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">Responsicve Web Design</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">ADA & Accessibility</p>
                  </div>



                </div>
            </div>
          </div>
          <div class="col-12 col-lg py-3 py-lg-0 px-lg-3">
            <div class="cdss-tiles-bg">
                <img src="images/home/CDSS-icon.svg" alt="temp-logo">
                <p class="h6-heading py-3">Child Abuse Mandated Reporter Training</p>
                <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet! </p>

                <div class="row">
                  <div class="col-auto">
                     <p class="cdss-tags">Learning Management System</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">Role Based UX</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">Responsicve Web Design</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">ADA & Accessibility</p>
                  </div>



                </div>

            </div>

          </div>

          <div class="col-12 col-lg py-3 py-lg-0 px-lg-0">
            <div class="cdss-tiles-bg">
                <img src="images/home/CDSS-icon.svg" alt="temp-logo">
                <p class="h6-heading py-3">Child Abuse Mandated Reporter Training</p>
                <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet! </p>

                <div class="row">
                  <div class="col-auto">
                     <p class="cdss-tags">Learning Management System</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">Role Based UX</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">Responsicve Web Design</p>
                  </div>

                  <div class="col-auto">
                     <p class="cdss-tags">ADA & Accessibility</p>
                  </div>

                </div>

            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- Core Services -->
    <section id="our-services-section" class="superlight-bg">
      <div class="site-container-1400">
        <div class="row pb-3">
          <div class="col-12">
            <h2 class="h2-heading">Our core services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-4 core-service">
            <a href="/services" class="h5-heading-link">
              <p class="mb-0 card-title">Web App Development</p>
            </a>
            <p class="h6-heading mb-1">iOS | Android | Xamarin</p>
            <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet!</p>
          </div>

          <div class="col-12 col-lg-4 core-service">
            <a href="/services" class="h5-heading-link">
              <p class="mb-0 card-title">Mobile App Development</p>
            </a>
            <p class="h6-heading mb-1">iOS | Android | Xamarin</p>
            <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet!</p>
          </div>

          <div class="col-12 col-lg-4 core-service">
            <a href="/services" class="h5-heading-link">
              <p class="mb-0 card-title">Web Development</p>
            </a>
            <p class="h6-heading mb-1">iOS | Android | Xamarin</p>
            <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet!</p>
          </div>

          <div class="col-12 col-lg-4 core-service">
            <a href="/services" class="h5-heading-link">
              <p class="mb-0 card-title">Product Design</p>
            </a>
            <p class="h6-heading mb-1">iOS | Android | Xamarin</p>
            <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet!</p>
          </div>

          <div class="col-12 col-lg-4 core-service">
            <a href="/services" class="h5-heading-link">
              <p class="mb-0 card-title">System Integrations</p>
            </a>
            <p class="h6-heading mb-1">iOS | Android | Xamarin</p>
            <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet!</p>
          </div>

          <div class="col-12 col-lg-4 core-service">
            <a href="/services" class="h5-heading-link">
              <p class="mb-0 card-title">Growth Marekting</p>
            </a>
            <p class="h6-heading mb-1">iOS | Android | Xamarin</p>
            <p>Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet!</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Company section -->
    <section id="company-section" class="superlight-bg">
      <div class="site-container-1400">
        <div class="row pb-3">
          <div class="col-12">
            <h2 class="h2-heading">Our company</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <div class="index-company-bg">
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="p-3">
              <p class="h2-heading"><sup><span class="quote"><i class="fas fa-quote-left"></i></span></sup>Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow<sup><span class="quote"><i class="fas fa-quote-right"></i></span></sup></p>
              <p class="h5-heading company-author-quote">Steve Jobs</p>

              <p class="h5-heading">Although Ontology is wary of many testnet, Bitcoin looked at the dormant bubble during some bollinger band. Lightning Network could be some burned block in some block height, nor SHA 256 is few bubble in lots of escrow because Augur required the quick mnemonic phrase until the cold wallet!</p>

              <div>
                <a href="#" class="text-icon-cta">Discover how we can help you grow <i class="fas fa-arrow-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- CTA Section -->
    <section id="cta-section">
      <div class="site-container-1400">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <div class="p-3">
              <p>Interest in working with team at GROW?</p>
              <p class="h2-heading mb-0">Explore jobs</p>
              <div class="py-1">
                <a href="#">
                  <i class="fas fa-arrow-right"></i>
                  <p class="sr-only">Link to explore jobs</p>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="p-3">
              <p>Reach out</p>
              <p class="h2-heading">Let's build together.</p>
              <form name="contact" method="POST" data-netlify="true">
                <div class="row">
                    <div class="col-12 col-lg-6">
                      <p>
                        <label class="sr-only" for="name">Your Name:</label>
                        <input type="text" name="name" class="footer-form-input" placeholder="Name *" required/>
                      </p>
                    </div>

                    <div class="col-12 col-lg-6">
                      <p>
                        <label class="sr-only" for="company">Company:</label>
                        <input type="text" name="company"  class="footer-form-input"  placeholder="Company"/>
                      </p>
                    </div>

                    <div class="col-12 col-lg-6">
                      <p>
                        <label class="sr-only" for="email">Email:</label>
                        <input type="text" name="email"  class="footer-form-input"  placeholder="Email" required/>
                      </p>
                    </div>

                    <div class="col-12">
                      <p>
                        <label class="sr-only" for="message">How can we help:</label>
                        <input type="text" name="message"  class="footer-form-input"  placeholder="How can we help?"/>
                      </p>
                    </div>

                    <div class="col-12">
                      <p>
                        <button type="submit" class="btn-info">Send</button>
                      </p>
                    </div>
                  </div>
                </form>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
{{ end }}
