{{ define "main" }}
<main class="homepage py-6">

    <section class="container" id="index-jumbotron">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 col-md-6 ">
          <h1>Science meet humanity.</h1>
          <p>We build custom application that helps you work smart and grow.</p>
          <div class="py-3">
            <a href="#" class="btn-primary btn-size-lg">Lets Talk</a>
          </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="src/GROW-home-marquee.png" alt="">
        </div>
      </div>
    </section>



    <!-- {{ range .Pages }}
      <li>
          <a href="{{.Permalink}}">{{.Date.Format "2006-01-02"}} | {{.Title}}</a>
      </li>
      {{ end }}



    <div class="row row-cols-1 row-cols-lg-3">
        {{ range .Pages }}
            <div class="col mb-3">
                {{ .Render "card" }}
            </div>
        {{ end }}
    </div> -->





</main>
{{ end }}
